# Environment
.env
.env.local
.env.*.local

# Binaries
geo-api
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data files

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
.dockerignore
